.container{
    padding: 1rem 0 1rem 0;
}
.form{
    display: flex;
    justify-content: space-around ;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}
.formInput{
    width: 75%;
    padding: .7rem;
    font-size: 1.5rem;
}
.searchBtn{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem;
    background: #14b8a6;
    color: white;
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 3px 3px 1px #ecececc2;
}
.searchBtn:hover{
    scale: 105%;
    transition: all .2s ease-in-out;
    background-color: #0d9488;
}
@media (min-width: 768px) {
    .formInput {
        width: 90%;
    }
  }