* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1020px;
    margin: auto;
}
.spinner-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (min-width: 768px) {
    .home-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}